/* {START} From component => Navbar */
.navbar-top {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow size and color */
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: underline;
}

/* {END} From component => Navbar */

/* ....................................................................................... */

/* {START} From component => Info */
.info-box {
  border: 2px solid #ddd;
  border-radius: 2%;
  padding: 20px;
  margin: 25px;
  transition: transform 0.3s ease;
}

.info-box:hover {
  background-color: rgb(227, 228, 224);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow size and color */
  transform: scale(1.1);
}

#search-bar {
  background-color: rgb(235, 243, 240) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* {END} From component => Info */

/* ....................................................................................... */

/* {START} From component => FindTour */
.tour-img {
  opacity: 0.9;
}

.tour-img:hover {
  opacity: 1;
}
/* {END} From component => FindTour */

/* ....................................................................................... */

/* {START} From component => Stories component */
.story-thumb-img {
  opacity: 0.8;
  position: relative;
}

.story-thumb-img:hover {
  opacity: 1;
}

.story-thumb-text {
  position: absolute;
  top: 50;
  left: 50;
}

/* {END} From component => Stories component */

/* ....................................................................................... */

/* {START} From component => Search component */
/* #search-container {
  position: absolute;
  left: 10%;
  top: 110%;
  right: 10%;
  width: "100%";
  z-index: 1;
}
@media (max-width: 1500px) {
  #search-container {
    position: relative;
    left: 0;
    top: auto;
    
    right: 0;
  }
}
@media (max-width: 767px) {
  #search-container {
    position: relative;
    left: 0;
    top: auto;
    right: 0;
  }
} */

/* {END} From component => Search component */

/* ....................................................................................... */

/* {START} From component => Slider */
/* {END} From component => Slider */

/* ....................................................................................... */

/* {START} From component => Slider */
/* {END} From component => Slider */

/* ....................................................................................... */

/* {START} From component => Slider */
/* {END} From component => Slider */
